@import "tailwindcss";

:root {
    --background: var(--color-white);
    --foreground: var(--color-black);
    --background-top-button-selected: var(--color-gray);
    --foreground-top-button-selected: var(--color-black);
    --foreground-top-button: var(--color-gray);
    --background-input: var(--color-white);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --background: var(--color-black);*/
/*    --foreground: var(--color-gray-transparent);*/
/*  }*/
/*}*/

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-be-vietnam-pro);
}

@theme {
    --color-black: #121826;
    --color-indigo: #6C727F;
    --color-gray: #E5E7EB;
    --color-gray-transparent: #E5E7EBCC;
}

.top-button {
    color: var(--foreground-top-button);
}

.top-button-selected {
    background: var(--background-top-button-selected);
    color: var(--foreground-top-button-selected);
}

.title {
    @apply text-[2.25rem] font-semibold;
}

.description {
    @apply text-[0.875rem] font-medium;
}

.button-text, button {
    @apply text-[0.875rem] font-medium;
}

.large-description {
    @apply text-[1rem] font-medium;
}

.small-text {
    @apply text-[0.75rem] font-medium;
}